
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
  --banafsh: #3B2A9F;
  --narenji: #FA8305;
  --banafshkam:#5141AA;
  --ghahveii:#DC700059;
  --siah:#1C140F;
  --khakstri:#898989;


}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
  background-color: var(--banafsh);
  background-color: var(--banafshkam);
  background-color: var(--ghahveii);
  background-color: var(--narenji);
  background-color: var(--siah);
  background-color: var(--khakstri);
}

@font-face{
  font-family: myFont;
  src: url("/assets/fonts/Poppins-Medium.ttf") format('truetype');
}
@font-face{
  font-family: myFontlight;
  src: url("/assets/fonts/Poppins-Light.ttf") format('truetype');
}

body{
    background-color: var(--banafsh);
  font-family: myFont;
  width: 1700px;

}
.light{
  background-color: var(--narenji);
}

@media (min-width: 768px){

.logo{
margin-right: 650px;
  margin-left: 59px;
}}
@media (max-width: 480px){

.logo{
margin-right: 400px;
  margin-left: 20px;
}}
@media (max-width: 768px){

.logo{
margin-right: 670px;
  margin-left: 32px;
}}
.list{
  position: relative;
  display: inline-block;
}
.list::before{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--narenji);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.list:hover::before{
  transform: scaleX(1);
}

@media(max-width: 480px){

.textbox{
width: 392px;
height: 351px;
margin-left: 44px;
  margin-top: 50px;

}}
@media (max-width: 992px){

.textbox{
width: 527px;
height: 501px;
margin-top: 903px;
margin-left: 147px;

}}
@media (min-width: 992px) {
  .textbox{
    margin-top: 203px;
    margin-left: 147px;
    margin-bottom: 200px;
  }
}
.unity{
  width: 96px;
  height: 30px;
  margin-top: 435px;
  margin-left: 100px;
}
.cry{
  width: 101px;
  height: 99px;
  margin-top: 202px;
  margin-left: 200px;
}
.unreal{
   width: 59px;
  height: 64px;
  margin-left: 250px;
  margin-top: 202px;
}
.game{
   width: 806px;
  height: 761px;
  margin-left:1050px ;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .game{
    margin-left: 180px;
  }
}
.prove{
  color: var(--narenji);
}
.dummy{
  font-family: myFontlight;
}
.detail{
  background-color: var(--narenji);
}
@font-face {
  font-family: rubik;
  src: url("/assets/fonts/Rubik-Medium.ttf")format("truetype");
}
.all{
  background-color: var(--banafshkam);
  font-family: rubik;
  margin-left: 1000px;
}
.trend{
  font-family: rubik;
  margin-left: 147px;

}
@media (max-width: 992px) {
  .txt{
    margin-left: 127px;
  }
}
.first{
  margin-left: 147px;
  width: 251px;
  height: 277px;
}
.therest{
  margin-left: 130px;
  width: 251px;
  height: 277px;
}
.fire1{
  margin-left: 195px;
  margin-top: 10px;
  width: 25px;
  height: 25px;
}
.followers{
  margin-top: 10px;
  margin-left: 10px;
  font-family: rubik;
  width: 136px;
  height: 41px;
  font-size: 22px;

}
.fire{
  margin-left: 190px;
  margin-top: 10px;
  width: 25px;
  height: 25px;

}

@media (max-width: 480px) {
  .therest{
    margin-left: 250px;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .first{
    margin-left: 250px;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .fire1{
    margin-left: 280px;
  }
  .fire{
    margin-left: 280px;
  }
}

@media (min-width: 481px) {
  .first{
    margin-left:130px;
  }
  .fire1{
    margin-left: 150px;
  }
  .fire{
    margin-left: 150px;
  }
}